#carouselContainer{
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color:rgba(33,37,41,1);
	color:white;
	margin:25px 10px;
	padding:15px;
	min-height: 70vh;
	max-width: 100vw;
}

@media only screen and (max-width:1050px) {
    #carouselContainer{
        flex-direction: column;
    }
}

.carouselImg{
    max-width:90vw;
	max-height: 90vh;
	padding:10px;
}

#CarouselHeading{
    font-family: 'Stick No Bills', sans-serif;
    font-size: 7vmin;
    margin:15px 0;
}

.carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: .6s;
	transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
	opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
}